<div class="card">
    <div class="card-body">
        <h1>About - App Notes</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis dolorum quam, officiis quaerat quod corrupti qui expedita quos enim aperiam
            sed ipsam aliquam adipisci eum id maiores totam doloremque explicabo.</p>
    </div>
</div>