<div class="jumbotron mt-4">
    <h1 class="display-4">Dead-line</h1>
    <p class="lead"> - Organiza tu vida, organiza tu mundo</p>
    <hr class="my-4">
    <img src="/img/logo.jpg" alt="logo" class="rounded mx-auto d-block">
    <p>
        Interfaz amigable para la creación de StickNotes, toma notas rapidas y no volveras a olvidar nada.
    </p>
    <a href="/users/signup" class="btn btn-primary btn-lg">El mejor momento es el ahora</a>
    </div>