<nav class="jumbotron navbar-light bg-light">

<div class="container">
  <div class="row">
    <div class="col-sm">
        Organiza tu vida<br>
        Organiza tu estudio<br>

    </div>
    <div class="col-sm">
      Desarrollado por: Ruben Toro<br>
      Versión: 1.0
    </div>
  </div>
</div>
</div>